{% extends 'base.html.twig' %}

{% block title %}E-Commerce Moyen{% endblock %}

{% block body %}
    <section>
        <div class="bg-primary w-100 h-100 p-5">
            {% for category in categories %}
            <a href="{{ path('app_category_shop') }}" class="text-white text-uppercase text-decoration-none" id="{{ category.id }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
