{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <header>
        <h1>test</h1>
        <nav>
            <ul>
                <li>
                    <span>Products List</span>
                </li>
                <li>
                    <span>Products Categories</span>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
