{% extends 'base.html.twig' %}

{% block title %}Hello ProductPageController!{% endblock %}

{% block body %}
<section>
    <img src="{{ asset('uploads/products/56e99dce9d8d83b0d83ac489b203bcfda4c5bb89.jpg')}}" alt="test">
    <span>{{ picture }}</span>
</section>
{% endblock %}
