{% extends 'base.html.twig' %}

{% block title %}Hello CategoryShopController!{% endblock %}

{% block body %}
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Our Products</h2>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="down-content">
                                <a href="{{ path('app_product_page', {id: product.id}) }}"><h4>{{ product.name }}</h4></a>
                                <h6>c koi symfony?</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>${{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
