{% extends 'base.html.twig' %}

{% block title %}Hello CategoryShopController!{% endblock %}

{% block body %}
    <section>
        {% for product in products %}
            <a class="text-black">{{ product.name }}</a>
        {% endfor %}
    </section>
{% endblock %}
