{% extends 'base.html.twig' %}

{% block title %}Hello CategoryShopController!{% endblock %}

{% block body %}
    <section>
        {% for product in products %}
            <a class="text-black" href="{{ path('app_product_page', {'id' : product.id}) }}">{{ product.name }}</a>
        {% endfor %}
    </section>
{% endblock %}
